@media (min-width: 720px) {

  .thinner-margin {
    margin: $margin-sides;
   }
   
   .wider-margin {
     margin: $margin-wider-sides;
   }
  
  body {
    font-size: 2rem;
    letter-spacing: 1px;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }

  header {     
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 20px;
    }

    nav {
      width: 75%;  
    }
  }

  .main-picture {
    display: flex;

    img {
      width: 100%;
    }
  }

  .cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .sign-up-sect {
    height: 287px;

    h3 {
      padding: 30px 0;
      font-size: 3rem;
    }
  }

  .sign-line {
    border-bottom: 3px solid;
    border-radius: 3px;
    margin: 30px 0;
  
    #email::placeholder {
      font-size: 2rem;
    }

    img {
      width: 3rem;
    }
  } 

  .load-more {
    margin: 4rem 4rem 100rem 4rem;

    #load-more {
      font-size: 4rem;
    }
  }
  
  footer {
    background-color: $sign-up-bg-color;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: inline;
    }

    .container {
      margin: 0 $margin-sides;
    }

    a {
      margin: auto 8px;
    }  
  }
}