$logoFont: 'Inconsolata', monospace;
$margin-sides-mobile: 20px; 
$margin-sides: 65px;
$margin-wider-sides-mobile: 40px;
$margin-wider-sides: 100px;
$sign-up-bg-color: #f0f0f0;
$main-color: #626262;
$secondary-color: white;
$golden-color: #b4ad9e;